################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/folea.HeadersToContextMiddleware/.vs/Api.Common/v16
/folea.HeadersToContextMiddleware/bin/Debug/netcoreapp3.1
/folea.HeadersToContextMiddleware/obj
/folea.HeadersToContextMiddleware/.vs/folea.HeadersToContextMiddleware/v16/.suo
